h2{

    display: flex;
    
    justify-content: center;

    font-size: x-large;
    
    font-family: 'Rubik', cursive;

    color: white;

    }

h1{

    display: flex;
    
    justify-content: center;

    font-size: xx-large;
    
    font-family: 'Rubik', cursive;

    color: white;
}

a{

    display: flex;
    
    justify-content: center;

    font-size: larger;
    
    font-family: 'Rubik', cursive;
    
    color: white;

    }